name: Go

on: [push]

jobs:
  build:

    strategy:
      matrix:
        go-version: [ '1.16.x', '1.17', '1.18' ]
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      # You can test your matrix by printing the current Go version
      - name: Display Go version
        run: go version
      - name: Test with Go CLI
        run: go test -v ./...
